body {
  color: rgb(0, 0, 0);
    background-color: #001B63;
    font-family: "NexaBold, NexaLight";
}

@font-face {
  font-family: "NexaLight";
  src: url('../fuente/Nexa\ Light.otf');

  font-family: "NexaBold";
  src: url("../fuente/Nexa\ Bold.otf");
}

.navbar {
  background-color: #001B63;
}

#club {
  background-color: whitesmoke;
}

#categorias {
  background-color: whitesmoke;
}

#multimedia {
  background-color: whitesmoke;
}

#formulario {
  background-color: whitesmoke;
}

#redes {
  display: flex;
  font-size: 30px;
}

#formulario form {
  padding: 20px;
  margin: auto;
  background-color: rgb(255, 255, 184);
}

.control {
  display: flex;
  margin: .5em 0;
}

.control:first-child, .control:nth-child(2) {
  align-items: center;
}

.control label {
  flex: 0 100px;
}

.control input,
.control textarea,
.control select,
.control > div {
  flex: 1;
  padding: .3rem .5rem;
}

.control > div {
  background: white;
  border: 1px solid rgb(0, 0, 0);
}

.control div div {
  margin: .3em 0;
}

form > div:last-child {
  display: flex;
  justify-content: flex-end;
  margin: 1em 0 0 0;
}

input[type="submit"] {
  padding: .6em 1.3em;
  background-color: rgb(28, 70, 255);
  color: white;
  border: 1px solid #aaa;
}

input[type="reset"] {
  padding: .6em 1em;
  background-color: white;
  border: 1px solid #aaa;
  margin-right: .3em;
}

#escudos {
  height: 10em; 
}

#animacion {
  height: 10em;
  background: url("../imagenes/escudo\ 1.png") no-repeat 0 0;
  background-size: 10%;
  background-position: center;
  animation: escudos 10s linear infinite;
}

@keyframes escudos {
  0% {
  background: url("../imagenes/escudo\ 1.png") no-repeat 0 0;
  background-size: 10%;
  background-position: center;
  }

  30% {
  background: url("../imagenes/escudo2.png") no-repeat 0 0;
  background-size: 10%;
  background-position: center;
  }

  60% {
  background: url("../imagenes/escudo3.png") no-repeat 0 0;
  background-size: 10%;
  background-position: center;
  }

  90% {
  background: url("../imagenes/escudo4.png") no-repeat 0 0;
  background-size: 10%;
  background-position: center;
  }

}

@media screen and (max-width: 400px) {

  .logo {width: 4rem;}

  #categorias img {width: 15em;}

  #formulario form{width: 20em;}

  footer #texto {font-size: 0.8rem;}
}

@media screen and (min-width: 400px) {

    .logo {width: 4rem;}

    #categorias img{width: 20em;}

    footer #texto {font-size: 0.9rem;}
  }
  
  @media screen and (min-width: 600px) {

    .logo {width: 4rem;}

    #formulario form{width: 30em;}
 
    footer #texto {font-size: 0.9rem;}
  }
  
  @media screen and (min-width: 768px) {

    .logo {width: 5rem;}

    #categorias img {width: 15em;}

    #formulario form{width: 40em;}

    footer #texto {font-size: 0.9rem;}
  } 
  
  @media screen and (min-width: 992px) {

    #categorias img {width: 20em;}

    #formulario form{width: 40em;}

    footer #texto {font-size: 1rem;}
  } 

  @media screen and (min-width: 1200px) {

    #categorias img {width: 20em;}

    #formulario form{width: 50em;}

    footer #texto {font-size: 1rem;}
  }